@use "shapes";

#start-button {
    width: 128px;
    padding: 4px;
}

#start-button:active {
    @extend %inward;
    padding: 4px;
}

#start-menu {
    @extend %outward;
    position: absolute;
    left: 0;
    bottom: 30px;
}

// with this, it only supports one level, but if i need, i'll fix it
.start-category-menu {
    @extend %outward;
    position: absolute;
    left: 142px;
    bottom: 26px;
}

.start-tab {
    @extend %outward;
    width: 128px;
    height: 24px;
    margin: 0;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.start-tab:active {
    @extend %inward;
    padding: 4px;
}

.start-tab > * {
    display: inline-flex;
}
